<!DOCTYPE html>
<html>
    <head>
        <title>F8 - Tự học</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="main.css">
        <style>
            h4 {
                color: red;
                font-size: 28px;
            }
        </style>
    </head>
    <body>
        <h1 style="color: red;">Bài 9</h1>
        <h1 title="Đây là tiêu đề">Attribute - Thuộc tính</h1>
        <h2 style="color: chartreuse;">Nguyễn Lam Trường</h2>
        <h1 title="HTML, CSS từ zero đến Hero">Học về attribute trong HTML</h1>
        <a href="https://fullstack.edu.vn/">Học HTML tại F8</a>
        <img src="https://img.youtube.com/vi/0SJE9dYdpps/sddefault.jpg" alt="Đây là ảnh" width="250" title="Lập trình Javascript cơ bản">
        <h1 style="color: red;">Bài 10</h1>
        <h1 style="color: red;font-size: 28px;">Sử dụng CSS Inline: Dùng css trực tiếp trên thẻ đang sử dụng</h1>
        <h3>Sử dụng CSS External: Tạo file chứa css rồi sử dụng bằng cách link đến file chứa css đó</h3>
        <h4>Sử dụng CSS Internal: Dùng css trực tiếp trên file HTML</h4>  
    </body>
</html>