<!DOCTYPE html>
<html>
    <head>
        <title>Lam Truong</title>
        <meta charset="utf-8">
    </head>
  <body>
    <h1>Oke nhé a Thành</h1>
    <p>This is the landing page of <strong>Lam Truong</strong>.</p>
  </body>
</html>
